#to-do-list-form{
    display: none;
    width: 400px;
    height: 400px;
    padding: 20px;
    position: absolute;
    background-color: aquamarine;
}

#dark-bg{
    background: black;
    opacity: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

